@charset "UTF-8";

/* main#main 영역 시작 */
main#main {
  width: 100%;
  height: 490px;
  text-align: center;
  position: relative;
}

.tns-outer>button {
  width: 20px;
  height: 16px;
  color: #333;
  font-size: 12px;
  line-height: 12px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #ffce32;

  position: absolute;
  bottom: 58px;
  left: 48%;
  z-index: 4;
}

.tns-controls button {
  display: none;
}

.tns-nav {
  width: 120px;
  display: flex;
  position: absolute;
  bottom: 60px;
  left: 40%;
  z-index: 4;
}
.tns-nav button {
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 30px;
  margin: 0 5px;
  background-color: #fff;
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  outline: none;
  transition-duration: 0.3s;
}

.tns-item {
  width: 100%;
}

.tns-item a{
  width: 100%;
  display: inline-block;
}

  /* quick-link(매장찾기, 가맹신청문의) 영역 시작 */
#quick-link {
  width: 600px;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
}

#quick-link #find-shop {
  width: 300px;
  height: 80px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  line-height: 80px;
  border-radius: 30px 0 0 0;
  background-color: #ffce32;

  display: inline-block;
}

#quick-link #find-shop img{
  width: 34px;
  margin-right: 3px;
  vertical-align: middle;
}

#quick-link #join-member {
  width: 300px;
  height: 80px;
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  line-height: 80px;
  border-radius: 0 0 30px 0;
  background-color: #009223;
  
  display: inline-block;
}

#quick-link #join-member img{
  width: 34px;
  margin-right: 3px;
  vertical-align: middle;
}
  /* quick-link(매장찾기, 가맹신청문의) 영역 시작 */
/* main#main 영역 끝 */
/* section#subway-menu 영역 시작 */
section#subway-menu {
  width: 1280px;
  height: 620px;
  padding: 60px 0 0 0;
  margin: 0 auto;
  
  position: relative;
}

#subway-menu-gnb {
  width: 450px;
  color: #ccc;
  display: flex;
  position: absolute;
  top: 100px;
  right: 0;
  z-index: 2;
}
#subway-menu-gnb li:nth-child(even) {
  margin-top: 5px;
}

#subway-menu-gnb li a {
  color: #666;
  font-size: 15px;
  font-weight: bold;
  padding: 4px 20px;

  display: inline-block;
  cursor: pointer;
}

#subway-menu-gnb li:first-child a {
  color: #009223;
}

.subway-menu-gnb-active {
  color: #009223;
}

  /* subway-menu의 slide 시작 */
.subway-menu-slide {
  width: 1280px;   
  height: 320px; 

  overflow: hidden;
  position: relative;
}

.subway-menu-slide .subway-menu-slide-shuttle-frame {
  width: 2600px;
  background-color: #ffffff;
  display: flex;
  position: absolute;

  transition: all 1s ease;
}
.subway-menu-slide #classic-subway-menu-slide-shuttle-frame {
  margin-left: 0;
}
.subway-menu-slide #fresh-N-light-subway-menu-slide-shuttle-frame {
  margin-left: 1280px;
}

.subway-menu-slide #premium-subway-menu-slide-shuttle-frame {
  margin-left: 1280px;
}

.subway-menu-slide #breakfast-subway-menu-slide-shuttle-frame {
  margin-left: 1280px;
}

.subway-menu-slide-wrap {
  width: 1280px;
  display: flex;
}
.subway-menu-slide-wrap a {
  width: 270px;
  height: 320px;
  text-align: center;
  margin: 0 25px;
  display: inline-block;

  position: relative;
}

.subway-menu-slide-wrap a p+img{
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 60px;
  background-color: #ffce32;
  display: inline-block;

  position: absolute;
  top: 120px;
  left: 100px;

  display: none;


}

/* a에 hover시 적용시킬 class */
.scale-active {
  width: 350px;
  text-align: center;
  margin: 30px 0;
  transform: scale(1.3);
  position: relative;
}
/* p에 hover시 적용시킬 class */
.none {
  display: none;
}



.subway-menu-slide-wrap a img{
  width: 260px;
  height: 182px;
}

.subway-menu-slide-wrap a p {
  width: 260px;
  color: #aaaaaa;
  font-size: 13px;
  font-weight: bold;
  padding: 10px 0;
}
  /* subway-menu의 slide 끝 */



/* section#subway-menu 영역 끝 */
/* section#subway 영역 시작 */
section#subway {
  width: 100%;
  background-color: #f3f3f3;
  
}
#subway #subway-container {
  width: 1280px;
  height: 790px;
  padding: 80px 20px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#subway .subway-box {
  height: 300px;
  padding: 40px;

  position: relative;
}

#subway .subway-box h1{
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
}

#subway .subway-btn {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 20px;
  border: 2px solid #fff;
  background-color: rgba(255,255,255,0);
  border-radius: 20px;

  position: absolute;
  bottom: 40px;
}

#subway #subway-box1 {
  width: 400px;
  border-radius: 30px 0 30px 30px;
  background-color: #01a5e2;
}

#subway #subway-box2 {
  width: 825px;
  border-radius: 30px 0 30px 0;
  /* background-color: #ff8300; */
  background-image: url("../images/index/box2_background.png");
  background-repeat: no-repeat;
  background-size: auto auto;
  
}

#subway #subway-box2>* {
  margin-left: 400px;
}

#subway #subway-box3 {
  width: 950px;
  border-radius: 30px 0 30px 0;
  background-color: #fff;

  display: flex;
}

#subway-box3 #subway-box3-title {
  width: 340px;
  height: 220px;

  position: relative;
}

#subway-box3-title .title {
  height: 80px;
  margin-top: 20px;
}
#subway-box3-title .title .title-icon{
  width: 80px;
}

#subway-box3-title .title .title-name{
  color: #333;
  font-size: 30px;
  font-family: 'Kanit', sans-serif;
  position: absolute;
  top: 26px;
  left: 70px;
  z-index: 2;
}

#subway-box3-title .title p {
  width: 200px;
  color: #666;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin: 20px 10px;
}

#subway-box3 #subway-box3-list {
  width: 560px;
  height: 220px;
  padding: 30px 80px;
}

#subway-box3 #subway-box3-list li a{
  color: #333;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 0;
  display: inline-block;
}

#subway-box3 #subway-box3-list li a:hover{
  color: #009223;
  text-decoration: underline;
}
#subway-box3 #subway-box3-list #subway-box3-btn{
  color: #aaa;
  font-size: 15px;
  border: none;
  margin-top: 20px;
  background-color: rgba(255,255,255,0);
}

#subway-box3 #subway-box3-list #subway-box3-btn:hover{
  color: #888888;
}

#subway #subway-box4 {
  width: 270px;
  padding: 0;
  border-radius:  0 30px 0 30px;
  background-color: #58513f;
  overflow: hidden;
  position: relative;
}

#subway-box4 #subway-box4-slide-shuttle-frame {
  width: 550px;
  position: absolute;
  top: 0;
  left: 0;
}
#subway-box4-slide-shuttle-frame #subway-box4-slide-img1 {
  z-index: 2;
}

#subway-box4-slide-shuttle-frame #subway-box4-slide-img2 {
  z-index: 1;
}

#subway-box4 .bx-btn {
  position: absolute;
  right: -20px;
  top: 20px;
}

/* section#subway 영역 끝 */

/* div#quick-menu 영역 시작 */
#quick-menu {
  width: 1280px;
  height: 70px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}

#quick-menu .quick-menu-box {
  width: 264px;
  padding-left: 50px;
  display: flex;
  cursor: pointer;
}

#quick-menu .quick-menu-box img{
  width: 70px;
  padding: 10px;
  border-radius: 70px;
  background-color: #f3f3f3;
  margin-right: 3px;
  vertical-align: middle;
}

.quick-menu-box .quick-menu-content {
  height: 70px;
  margin-left: 10px;
}

.quick-menu-box .quick-menu-content h4{
  color: #333333;
  font-size: 18px;
  margin: 10px 0 5px 0;
}

.quick-menu-box .quick-menu-content p{
  color: #aaa;
  font-size: 12px;
}

/* div#quick-menu 영역 끝 */

.modal-layer-popup-bg {
  background-color: rgba(255,255,255,0.2);
  display: block;

  top: 10%;
  z-index: 9999;
}

.btn-area {
  text-align: center;
}



