@charset "UTF-8";

#main {
  padding-bottom: 120px;
  
}
#main #lnb {
  width: 100%;
  margin-bottom: 60px;
  border-bottom: 1px solid #ddd;
  /* position: sticky; */
}

#lnb ul {
  width: 1170px;
  height: 59px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#lnb ul li a {
  color: #999;
  height: 60px;
  line-height: 60px;

  display: inline-block;
}

#lnb ul li:nth-child(even) a {
  color: #dddddd;
  font-weight: bold;
  padding: 0 10px;
}

#lnb ul li:nth-child(3) a {
  color: #009223;
  font-weight: bold;
  border-bottom: 4px solid #009223;
}

#main #news-title {
  color: #333;
  font-size: 40px;
  font-weight: 500;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
}

#news-info-container {
  width: 1280px;
  padding: 100px 50px 100px;
  text-align: center;
  margin: 0 auto;
}

#news-info #news-info-flex {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

#news-info-flex #how-many-content {
  height: 40px;
  color: #888888;
  line-height: 50px;
}

#news-info-flex #how-many-content strong {
  color: #009223;
}

#search-word {
  width: 260px;
  height: 40px;
  text-align: left;
  border: 2px solid #ddd;
  position: relative;
  left: -10px;
}

#search-word input {
  width: 224px;
  height: 30px;
  font-size: 15px;
  padding-left: 10px;
  margin-top: 4px;
  border: none;
  outline: none;
}

#search-word input::placeholder {
  color: #aaa;
  font-size: 15px;
}

#search-word a img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

#search-word a::after {
  content: "";
  width: 2px;
  height: 18px;
  background-color: #ddd;
  position: absolute;
  right: 36px;
  top: 10px;
}

table {
  width: 1170px;
  font-family: 'Noto Sans KR', sans-serif;
  border-top: 4px solid #009223;
  border-collapse: collapse;
  margin-bottom: 40px;
}

#news-info table .notice-tr {
  background-color: #f8f8f8;
}

#news-info table tr {
  border-bottom: 1px solid #ddd;
}

#news-info table td:first-child {
  width: 100px;
  height: 70px;
}

#news-info table .num {
  color: #ffce32;
  font-size: 18px;
  font-weight: bold;
}

#news-info table td:nth-child(2) {
  width: 850px;
  text-align: left;
}

#news-info table td:nth-child(2) strong{
  color: #009223;
}

#news-info table td:last-child {
  width: 120px;
  color: #aaaaaa;
  font-size: 17px;
  line-height: 20px;
}

.pagenation {
  width: 1170px;
  height: 22px;
  display: flex;
  justify-content: center;
}

.pagenation a {
  color: #aaa;
  line-height: 22px;
  font-size: 18px;
  font-family: 'Sunflower', sans-serif;
  font-weight: bold;
  display: inline-block;
}

.pagenation .page-arrow {
  font-size: 12px;
  line-height: 24px;
}

.pagenation .page-arrow:hover {
  color: #009223;
}

.pagenation ul {
  padding: 0 80px;
  display: flex;
}

.pagenation ul li {
  padding: 0 16px;
}

.pagenation ul li a {
  line-height: 22px;
}

.pagenation ul li:first-child a {
  color: #009223;
}